{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mx-auto" style="max-width: 400px;">
    <div class="card-header">Register</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success btn-block">Sign Up</button>
        </form>
        <p class="mt-2 text-center"><a href="{% url 'login' %}">Login here</a></p>
    </div>
</div>
{% endblock %}